PORT=4000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/<database>?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
CORS_ORIGIN=http://localhost:3000,http://localhost:5173

# Opcional (E-mails transacionais em Produção / Pré-Prod)
APP_URL=http://localhost:4000
RESEND_API_KEY=re_your_api_key_here
EMAIL_FROM=onboarding@meusistema.com
